h1{color: #e60000;}
p{font-family: Impact;
	color: #3498eb;
	padding: 50px;
	background-color: #2a6159;}
	a {color: #0028c7
	text-decoration: none; }
body{background-color: #8a0101;
	margin: 100px;}
img{margin-left: 500px}